@{
    ViewBag.Title = "Sobre nosotros";
    Layout = "~/Views/Shared/FrontPageLayout.cshtml";
}
<style>
    section{
        margin-top:35px;
    }

    img{
        border-radius: 5px;
    }

    .empty_space_inner {
        text-align: justify;
    }
</style>

<section class="wpb_row row-fluid section-padd">
    <div class="container">
        <div class="row">
            <div class="wpb_column column_container col-sm-12 col-md-9">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div class="section-head">
                            <h1><span>Acerca de Marcela Vega</span></h1>
                            <h2 class="section-title">Agente de seguros autorizada del INS</h2>
                        </div>
                        <div class="empty_space_30 md-hidden sm-hidden">
                            <p class="empty_space_inner">
                                Como Asesora de Seguros me encuentro preparada para la administración y venta de todas las
                                líneas de seguros que ofrece el Instituto Nacional de Seguros. El arduo trabajo a lo
                                largo de más de 12 años de experiencia, me convierte en una fuente confiable y segura de
                                asesoría y administración integral de las necesidades empresariales, administrativas y
                                personales de quienes son mi prioridad, mis clientes. Lo que le garantiza a usted,
                                que cuidar la inversión de su patrimonio a través de la buena aplicación de un seguro
                                será siempre mi prioridad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column column_container col-md-3">
                <div class="column-inner">
                    <div class="wpb_wrapper">
                        <div class="grid-margin">
                            <img src="~/Content/assets/images/marcela.jpg" class="show">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

