﻿
@model FrontendBlazor.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/FrontPageLayout.cshtml";
}

<div id="content" class="site-content">

    <div class="entry-content">
        <div class="container">
            <div class="boxed-content">

                <section class="wpb_row row-fluid section-padd">
                    <div class="container">
                        <div class="row">
                            <div class="wpb_column column_container col-sm-12 col-md-7">
                                <div class="column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="section-head ">
                                            <h2 class="section-title">RECUPERAR<br>CONTRASEÑA</h2>

                                        </div>

                                        @if (Model?.EmailSent == true)
                                        {
                                            <div class="alert alert-success" role="alert">

                                                <p> Hemos enviado un codigo de recuperacion a su correo</p>

                                            </div>
                                        }
                                        else
                                        {

                                          

                                                <div class="empty_space_12"><span class="empty_space_inner"></span></div>
                                                <div role="form" class="wpcf7" id="wpcf7-f1989-p967-o1" lang="en-US" dir="ltr">
                                                    <div class="screen-reader-response"></div>
                                                    <form action="@Url.Action("ForgotPassword", "Home")" method="post" class="wpcf7-form" id="forgotPassForm">
                                                        <div class="row">
                                                            <div class="col-md-12"><span class="wpcf7-form-control-wrap">
                                                                    <input type="email" name="email" value="" size="40" class="wpcf7-form-control" required="" id="email" placeholder="Digite su Correo Electrónico"></span>
                                                            <div id="emailError" style="display: none; color: red;">Debe de ingresar una direccion de correo.</div>
                                                        </div>
                                                        </div>
                                                        <p>
                                                            <input id="buttonSend" type="submit" value="ENVIAR" class="wpcf7-form-control wpcf7-submit btn" onsubmit="showModal()">
                                                        </p>
                                                    </form>
                                                    <div class="tox-form-group--maximize">
                                                        <p> Ya tienes cuenta cliquea <a asp-action="Login" asp-controller="Registration"><span> aqui</span></a></p>
                                                        <p> <a asp-action="SignUp" asp-controller="Registration"> Registrate aqui</a> <p>
                                                    </div>

                                                @if (Model?.Err == true)
                                                {
                                                    <p> La direccion de correo electronico no se encuentra registrado, intente con otro correo</p>
                                                }
                                                else
                                                {
                                                    
                                                }
                                            </div>
                                            
                                        }
                                        <div class="empty_space_30 lg-hidden"><span class="empty_space_inner"></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="wpb_column column_container col-sm-12 col-md-5">
                                <div class="column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element align_center">
                                            <figure class="wpb_wrapper figure">
                                                <div class="single_image-wrapper box_border_grey"><img src="~/Content/assets/images/placeholder2.png" class="single_image-img attachment-full" alt=""></div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="modal" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


   <script>

    $(document).ready(function () {
        $("#buttonSend").click(function () {
            var email = $("#email").val().trim();

            // Check if the email field is empty
            if (email === "") {
                $("#emailError").show(); // Show error message
                return;
            }
            // If not empty, submit the form
            $("#forgotPassForm").submit();
            $('#modalLoading').modal('show');
        });

        $(document).ready(function () {
            $('#forgotPassForm').submit(function (event) {
                event.preventDefault(); // Prevent default form submission
                $('#modalLoading').modal('show');
            });
        });




 </script>