
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/FrontPageLayout.cshtml";
}

<div id="content" class="site-content">

    <div class="entry-content">
        <div class="container">



            <div class="et-l et-l--post">
                <div class="et_builder_inner_content et_pb_gutters3">
                    <div id="cotizacion" class="et_pb_section et_pb_section_0 et_animated et_section_regular">






                        <div class="et_pb_row et_pb_row_0">
                            <div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">




                                <div class="et_pb_module lwp_divi_breadcrumbs lwp_divi_breadcrumbs_0">






                                    <div class="et_pb_module_inner">
                                        <div class="lwp-breadcrumbs">
                                            <h2><div class="et_pb_text_inner"><p style="text-align: center;">COTICE SU SEGURO <br />¡HOY MISMO!</p></div></h2>

                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div><div class="et_pb_row et_pb_row_1">
                            <div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">




                                <div class="et_pb_module et_pb_text et_pb_text_0 et_animated  et_pb_text_align_left et_pb_bg_layout_light">




                                    <div class="et_pb_text_inner">
                                        <p style="text-align: center;"<span class="current">Seguro De Fidelidad Para Empresas</span><div>
                                            </div>
                                    </div>




                                </div><div class="et_pb_row et_pb_row_2">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">




                                        <div class="et_pb_with_border et_pb_module ba_cf7_styler ba_cf7_styler_0">






                                            <div class="et_pb_module_inner">

                                                <div class="dtq-module dtq-cf7 dtq-cf7-container dtq-cf7-styler-button-left">

                                                    <div class="dtq-cf7-styler ">

                                                        <div class="wpcf7 no-js" id="wpcf7-f4363-p4364-o1" lang="es-ES" dir="ltr">
                                                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                            <form action="" method="post" class="wpcf7-form" aria-label="Formulario de contacto" novalidate="novalidate" data-status="init">
                                                                <div style="display: none;">
                                                                    <input type="hidden" name="_wpcf7" value="4363" />
                                                                    <input type="hidden" name="_wpcf7_version" value="5.7.7" />
                                                                    <input type="hidden" name="_wpcf7_locale" value="es_ES" />
                                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4363-p4364-o1" />
                                                                    <input type="hidden" name="_wpcf7_container_post" value="4364" />
                                                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                                </div>

                                                                <p>
                                                                    <label>
                                                                        Nombre<br />
                                                                        <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" autocomplete="name" aria-required="true" aria-invalid="false" value="" type="text" name="your-name" /></span>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                        Identificación (Cédula, DIMEX, Pasaporte)<br />
                                                                        <span class="wpcf7-form-control-wrap" data-name="number-767"><input class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" aria-invalid="false" value="" type="number" name="number-767" /></span>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                        Teléfono<br />
                                                                        <span class="wpcf7-form-control-wrap" data-name="tel-627"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" aria-invalid="false" value="" type="tel" name="tel-627" /></span>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                        Correo electrónico<br />
                                                                        <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" autocomplete="email" aria-required="true" aria-invalid="false" value="" type="email" name="your-email" /></span>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                        Asunto<br />
                                                                        <span class="wpcf7-form-control-wrap" data-name="your-subject"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" value="" type="text" name="your-subject" /></span>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                        Mensaje (opcional)<br />
                                                                        <span class="wpcf7-form-control-wrap" data-name="textarea-970"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" name="textarea-970"></textarea></span>
                                                                    </label>
                                                                </p>
                                                                <p>
                                                                    <input class="wpcf7-form-control wpcf7-submit btn" type="submit" value="Enviar" />
                                                                    
                                                                </p><div class="wpcf7-response-output" aria-hidden="true"></div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>